<!DOCTYPE html>
<html>
<head>
	<title>MyShop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/my_css.css">
	<script src="/js/my_js.js"></script>

	<script src="/jquery.simplecolorpicker.js"></script>
	<link rel="stylesheet" href="/jquery.simplecolorpicker.css">

</head>
<body>
	<div class="container">

		<!-- Static navbar -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><font size="10" color="#98FB98" face="Arial">MyShop</font></a>
			</div>
			<div style="background-color: #5F9EA0" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="effect"><a href="/about"><font size="6" color="#E0FFFF" face="Arial">Про нас</font></a></li>
					<li class="effect"><a href="/visit"><font size="6" color="#E0FFFF" face="Arial">Записатися</font></a></li>
					<li class="effect"><a href="/bookings"><font size="6" color="#E0FFFF" face="Arial">Нашi покупцi</font></a></li>
				</ul>
				<form action="/cart" method="post">
					<ul class="nav navbar-nav navbar-right">
						<li><a href=""><input style="color: #800000" type="submit" class="btn btn-sm btn-warning" value="ВАША КОРЗИНA"></a></li>
					</ul>
				</form>

			</div><!--/.nav-collapse -->
		</nav>


		<div>
			<%if @error then %>
			<div class="alert alert-danger"><%=@error%></div>
			<% end %>
			<%= yield %>
		</div>

	</table>

</div>


</body>
</html>
